* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-titulo:#70A100;
    --cor-branco:#ffffff;
    --cor-paragrafo:#5e5e5e;
    --fonte-principal: "Abril Fatface", Georgia, serif;
    --fonte-botao: "Droid Sans", arial, sans-serif;
}

h2 {
    color: var(--cor-titulo);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #161616;
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    height: 60vh;
}

.cabecalho img {
    height: 60vh;
}

.textoCabecalho {
    align-items: center;
    margin: 10rem 15rem 5rem 10rem;
    font-size: 20px;
}

.botaoPrincipal {
    background-color: #161616;
    padding: 10px 32px;
    margin-top: 20px;
    border: solid 1px #97D800;
    
}

.botaoPrincipal a {
    text-decoration: none;
    color: #97D800;
    font-family: var(--fonte-botao);
    font-weight: 600;
}

.sobre {
    display: flex;
    justify-content: center;
}

.sobre h2 {
    font-family: var(--fonte-principal);
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.sobre img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.sobrePrincipal {
    margin: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 24px;
}

.sobrePrincipal h2 {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sobreValores {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 0px 100px 3px;
    font-family: var(--fonte-botao);
    color: var(--cor-paragrafo);
    align-items: center;
    font-size: 14px;
    text-align: center;
}

.sobreValores h4 {
    color: #1B1B1B;
    margin: 10px 0px;
    padding: 5px;
    font-size: 18px;
}

.lista {
    text-align: left;
}
