* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-titulo:#02AB02;
    --cor-tituloDois: #02A602;
    --cor-backgroundDois: #f6f6f6;
    --cor-branco:#ffffff;
    --cor-paragrafo:#5e5e5e;
    --cor-paragrafoDois:#575757;
    --fonte-principal: "Abril Fatface", Georgia, serif;
    --fonte-botao: "Droid Sans", arial, sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0e0e0e;
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    height: 60vh;
}

.titulo {
    font-family: var(--fonte-principal);
    font-size: 40px;
    font-weight: 600;
    justify-content: center;
}

.cabecalho img {
    height: 60vh;
}

.textoCabecalho {
    align-items: center;
    margin: 10rem 15rem 5rem 10rem;
    font-size: 20px;
}

.botaoPrincipal  {
    display: inline-block;
    border:#03f804 solid 1px;
    color: #03f804;
    padding: 8px 32px;
    margin-top: 15px;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--fonte-botao);
}

.botaoPrincipal:hover {
    background-color: #03f804;
    color: #0e0e0e;
    transition: 0.3s;
}

.sobre {
    display: flex;
    justify-content: center;
}

.sobre h2 {
    font-family: var(--fonte-principal);
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.imagem {
    width: 250px;
    height: 250px;
}

.sobrePrincipal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 24px;
    margin: 0 0 40px;
}

.principal {
    margin-top: 5rem;
}

.sobrePrincipal h2 {
    color: var(--cor-titulo);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sobreValores {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 0px 100px 3px;
    font-family: var(--fonte-botao);
    color: var(--cor-paragrafo);
    align-items: center;
    font-size: 14px;
    text-align: center;
}

.sobreValores h4 {
    color: #1B1B1B;
    margin: 10px 0px;
    padding: 5px;
    font-size: 18px;
}

.lista {
    text-align: left;
}

.inspecaoAmbiente {
    padding: 80px 0px;
    background-color: var(--cor-backgroundDois);
}

.inspecaoAmbiente h2 {
    color: var(--cor-tituloDois);
}

.corpo {
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: var(--fonte-botao);
}

.corpo ul {
    padding: 0 24px;
    color: var(--cor-paragrafoDois);
}

.corpo img {
    padding: 0 24px;
    width: 300px;
}

.manutencao {
    padding: 80px 0px;
}

.manutencao h2 {
    color: var(--cor-titulo);
}

.contato {
    background-color: var(--cor-backgroundDois);
    padding: 80px;
}